<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Document</title>
<meta name="viewport" content=_"width=device-width,user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
<link rel="stylesheet"  href="css/bootstrap.min.css">
<link rel="stylesheet"  href="css/miestilo.css">
<link rel="stylesheet" href="css/micss.css">

</head>
<body >
<header>
<div div class="container">
<h1>DIRECTORIO FISCALIA PROVINCIAL</h1>


</div></header>

<br><nav>

<div class="container">
<ul class="nav nav-tabs " >
    <li role="presentation"><a href="index.php">Personas</a></li>
  <li role="presentation" class="active"><a href="#">Telefonos</a></li>
  
 
</ul><br><br><br><br>

</div></nav><section>
<div class="container">

<h3 class="col-md-8"><strong >TELEFONOS SEDE PROVINCIAL</strong></h3>



<div class="btn-group col-md-4">
  <button type="button" class="btn btn-primary " >Seleccione la Fiscalia Municipal</button>
  <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
 
    <li><a href="#">Lisa</a></li>
    <li><a href="#">Regla</a></li>
    <li><a href="#">Guanabacoa</a></li>
    
    <li><a href="#">Divico</a></li>
    <li><a href="#">Habana Vieja</a></li>
    <li><a href="#">Centro Habana</a></li>
    <li><a href="#">Cotorro</a></li>
    
    <li><a href="#">Marianao</a></li>
    
    
    <li><a href="#">Arroyo Naranjo</a></li>
    <li><a href="#">San Miguel del Padron</a></li>
    <li><a href="#">Cerro</a></li>
    
    <li><a href="#">10 de Octubre</a></li>
    <li><a href="#">Habana del Este</a></li>
    <li><a href="#">Playa</a></li>
    
    <li><a href="#">Plaza</a></li>




  </ul>

  
</div></div><div class="container"><center><h4>Direccion: 25 esquina F,Vedado.</h4></center></div>
<br><br><br><br>
<div class="container">


<div class="list-group col-md-4" >
  <a  class="list-group-item list-group-item-info">
   <center> TELEFONOS FIJOS</center></a>
  <a  class="list-group-item ">Departamento de Cuadros              8337728</a>
  <a  class="list-group-item">Departamento de Informatica           8337729</a>
  
</div>

<div class="list-group col-md-2" >
  <a class="list-group-item list-group-item-info">
  <center>  EXTENCIONES</center></a>
  <a  class="list-group-item">115</a>
  <a  class="list-group-item"> 147-142 </a>
  
</div>
<div class="list-group col-md-4" >
  <a  class="list-group-item list-group-item-success" ><center>TELEFONOS FIJOS</center></a>
  <a  class="list-group-item">Departamento de Cuadros              8337728</a>
  <a  class="list-group-item " id="2">Departamento de Informatica           8337729</a>
  
</div>

<div class="list-group col-md-2" >
  <a class="list-group-item list-group-item list-group-item-success">
   <center> EXTENCIONES</center></a>
  <a  class="list-group-item">115</a>
  <a  class="list-group-item"> 147-142 </a>
  
</div>

</div>















<!-- /.row --><br><br><br><br><br><br><br></section>


<footer><div class="container"><h6>Fiscalia Provincial de la Republica</h6></div></footer>

</body><script src="js/jquery.js"></script> 
<script src="js/bootstrap.min.js"></script>

</html>